<% content_for(:title) do %>
  Edit Booking Info
<% end %>
<div class="card mx-auto" style="width:80rem">
  <div class="card-header">
    <h3>Edit Booking</h3>
  </div>
  <div class="card-body">
    <%= render 'form', booking: @booking %>
  </div>
</div>
<%# <%= link_to 'Show', @booking, class:"btn btn-success btn-lg" 
link_to 'Back', bookings_path, class:"btn btn-dark btn-lg"  %>
