<div class="card mx-auto" style="width:80rem">
  <div class="card-body ">
    <div class="tabs">
      <div class="tab-2">
        <label for="tab2-1">AVAILIBILITY </label>
        <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
        <div>
          <div class="alert alert-info" role="alert">
            <h5 class="mb-0"> <strong>Alert!</strong>    Choose 1 from <strong>Meeting Room </strong> above to see availibity </h5>
          </div>
        </div>
      </div>
      <div class="tab-2">
        <label for="tab2-2">BOOKING</label>
        <input id="tab2-2" name="tabs-two" type="radio">
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
