<% if current_admin %>
  <div class="card mx-auto" style="width:80rem">
    <div class="card-header mb-3">
      <h3>Meeting Rooms</h3>
    </div>
    <div class="card-body mx-auto mb-3">
      <ul class="nav nav-pills">
        <% Meetingroom.all.each do |meetingroom| %>
          <li class="active">
            <%= link_to meetingroom.name, meetingroom , class:"btn btn-info btn-lg text-light mx-1" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <hr>
<% end %>
