<div class="card mx-auto" style="width:98rem">
  <div class="card-header">
    <h4 class="card-title">New User</h4>
  </div>
  <div class="card-body">
    <%= render 'form', user: @user %>
  </div>
</div>
