<h1 class="text-center">Edit Meetingroom</h1>
  <div class="card mx-auto" style="max-width: 80rem;">
<div class="card-body">
<%= render 'form', meetingroom: @meetingroom %>
</div>
</div>

<%# <%= link_to 'Show', @meetingroom, class:"btn btn-success btn-lg" |
 link_to 'Back', meetingrooms_path, class:"btn btn-dark btn-lg" %> 
