<div class="card mx-auto" style="width:80rem">
  <div class="card-header">
    <h2 class="text-center">Add New Room</h2>
  </div>
  <div class="card-body ">
    <%= render 'form', meetingroom: @meetingroom %>
  </div>
</div>
