<h1 class="text-center">Add New Meeting Room</h1>
<div class="card mx-auto" style="max-width: 80rem;">
   <div class="card-body ">
        <%= render 'form', meetingroom: @meetingroom %>
    </div>
</div>

 