<div class="alert bg-success alert-dismissible mx-4 text-white" role="alert">
  <span type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></span>
  <%= notice %>
</div>
