      <%= render '/partial/meetingroom' %>
<div class="card mx-auto" style="width:80rem">
  <div class="card-body mx-auto mb-3">
    <div class="tabs">
      <div class="tab-2">
        <label for="tab2-1">AVAILIBILIY </label>
        <input id="tab2-1" name="tabs-two" type="radio" checked="checked">
        <%# <%= render '/meetingrooms/show' %>
      </div>
      <div class="tab-2">
        <label for="tab2-2">BOOKING</label>
        <input id="tab2-2" name="tabs-two" type="radio">
        <div>
          <%= render '/bookings/index' %>
        </div>
      </div>
    </div>
  </div>
</div>
